.main {
 width: 100vw;
 height: auto;
 display: flex;
 padding: 80px;
}
.left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.left h1{
    font-size: 3.2vw;
    font-weight: 600;
}
.left p{
    width: 45vw;
    font-size: 1.1vw;
}
.left button {
    width: 12vw;
    height: 8vh;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;

}